body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  color: #293c4b;
}

#root {
  max-width: 1366px;
  margin: 0 auto;
}

.floor-info {
  display: flex;
  justify-content: space-around;
}

.pick-destination {
  text-align: center;
  padding: 15px;
}

.pick-destination input {
  padding: 12px;
  border-radius: 2px;
  border: 1px solid gray;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.floor-info > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-search {
  list-style: none;
  background: white;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid gray;
  border-top: none;
  box-sizing: border-box;
}

.room-search li {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  font-size: 16px;
  padding: 8px 13px;
  text-align: left;
  box-sizing: border-box;
}

.room-search li:hover {
  background-color: lightblue;
}

svg {
  background-image: url('./map2.jpg');
  background-size: 100%;
  padding: 15px;
}

polyline {
  stroke: red;
  fill-opacity: 0;
  stroke-width: 4;
}

circle {
  stroke-width: 2;
  cursor: pointer;
}

circle.red:hover {
  fill: green;
  stroke: green;
}

svg text {
  font-size: 12px;
}

ul.floors {
  list-style: none;
  padding: 0;
}

a {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}