body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

svg {
  background: lightgray;
  padding: 15px;
}

polyline {
  stroke: red;
  fill-opacity: 0;
  stroke-width: 4;
}

circle {
  stroke-width: 2;
  cursor: pointer;
}

circle.red:hover {
  fill: green;
  stroke: green;
}

svg text {
  font-size: 12px;
}